// section ads
.ad {
    margin-right: 482px;
    img {
        width: 970px;
        height: 90px;
    }
}

.mobile-ad {
    margin-top: -30px;
    margin-bottom: 30px;
    img {
        width: 320px;
        height: 320px;
    }
}