@import '../utilities/variables';
// icons section
.icons-nav {
    padding-top: 5px;
    padding-bottom: 12px;
}

// left section
.icons .latest {
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    color: #74747c;
    padding-left: 30px;
}

.icons i {
    color: #74747c;
    font-size: 16px;
    padding-left: 20px;
}

// right section
.icons-nav .col-sm-8 i {
    font-size: 14px;
}

.icons-nav .col-sm-8 .date {
    color: #454551;
    font-size: 12px;
    font-weight: normal;
}

.icons-nav .col-sm-8 .date::after {
    content: '';
    position: absolute;
    background-color: #e7e7e9;
    width: 1px;
    height: 58px;
    top: 0;
    left: 0;
    margin-left: 1550px;
}

.icons-nav .col-sm-8 .paragraph {
    font-size: 16px;
    font-weight: bold;
    color: #d90c43;
    padding-right: 31px;
}

.icons-nav {
    border: none;
    @media (max-width: 768px) {
        .icons, .date, .fa-clock {
            display: none;
        }
        .paragraph {
            margin-right: 0px !important;
        }
    }
}

// end of icons navbar
// start of nav images
.nav-images {
    border-top: 1px solid #e7e7e9;
    width: 100%;
    padding: 0px;
}

.nav-images .logo {
    text-align: right;
    padding: 20px 10px 57px 0;
    img {
        width: 225px;
        height: 105px;
    }
}

.nav-images .info-image {
    text-align: left;
    padding: 30px 0 57px 27px;
    img {
        width: 728px;
        height: 90px;
    }
}

.nav-images {
    @media (max-width: 768px) {
        margin-top: 20px;
        .col-sm-4 {
            display: none;
        }
        .col-sm-8 {
            display: none;
        }
    }
}

// end of nav images
// navbar 
.navbar {
    margin-right: 0px;
    margin-top: 0px;
    background-color: $secondary-color;
}

.navbar-nav {
    padding-right: 240px;
}

.navbar-nav a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    padding: 15px 0;
}

.nav-item {
    .nav-link {
        padding: 19px 0px 21px 0px;
        margin-left: 60px;
    }
}

.main-nav {
    .active {}
}

.active {
    background-color: $base-color !important;
}

.nav-form {}

.form-control::after {
    content: '';
    position: absolute;
    background-color: #ffff;
    width: 1px;
    height: 60px;
    top: 0;
    left: 0;
    margin-left: 559px;
}

.form-control {
    border: none;
    background-color: $secondary-color;
}

.search {
    margin-left: -16px;
}

.navbar-nav {
    text-align: center;
}

.navbar i {
    color: white;
}

// end of navbar